body{
  background-color:black;
  color: white;

}

.jumbotron {
	height: 500px;
	background-image: url("../images/rushcrop.jpg");
	background-size: cover;
}
.display-3, .lead{
	font-weight: bold;
}

.playArea{
	height: 500px;
	width: 300px;
	border-width: 5px;
	border-color: white;
	border-style: dashed;
}

.leftPlayArea{
	margin-right:5px;
}

.rightPlayArea{
	margin-left: 5px;
}

.albumArt {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 60%;
}

.leftPanelText {
	text-align: center;

}